@mixin article-formatting() {
    /************************article-formatting*******************/
    .the-content,
    .the-content p {
        text-align: center;
        font-size: 1.2rem;
        margin: 2rem .5rem;
        line-height: 1.8;
    }
    .strong-content {
        font-size: 1.6rem;
        font-weight: bolder;
        line-height: 1.3;
        font-family: 'EB Garamond', serif;
    }
    .iframe-container {
        width: 100%;
        height: auto;
        margin: 2rem 0;
        -webkit-overflow-scrolling: touch;
        overflow: auto;
    }
    .accordion {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    input[type=checkbox] {
        display: none;
    }
    label {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 38vh;
        background: rgb(170, 170, 170);
        border-radius: 50px;
        margin-top: 10vh;
        transition: border-radius 2s;
        color: white;
        background-size: cover;
        background-position: center;
    
        h1 {
            position: absolute;
            font-size: 1.1rem;
        }
    }
    .booking-button {
        display: block;
        margin-top: 2rem;
        text-align: center;
    }
    /***************************Classes Page Formatting*************************/
    label[for=classtab1] {
        background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/ELDAE2CI2G.jpg");
    }
    label[for=classtab2] {
        background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/40N6XLERBU.jpg");
    }
    label[for=classtab3] {
        background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/QRPVBIQR04.jpg");
    }
    label[for=classtab4] {
        background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/UY7MJEK8M8.jpg");
    }
    label[for=classtab1] h1 {
        top: 29%;
        left: 75%;
    }
    label[for=classtab2] h1 {
        top: 17%;
        left: 12%;
    }
    label[for=classtab3] h1 {
        top: 43%;
        left: 5%;
    }
    label[for=classtab4] h1 {
        top: 29%;
        left: 51%;
    }
    /***************************Bodywork Page Formatting*************************/
    label[for=bodyworktab1] {
        background-image: url("https://images.pexels.com/photos/259810/pexels-photo-259810.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
    }
    label[for=bodyworktab2] {
        background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/H5JNDHFS51.jpg");
    }
    label[for=bodyworktab3] {
        background-image: url("https://images.unsplash.com/photo-1519824145371-296894a0daa9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8d6d77a200077530beff1d2b4f600be7&auto=format&fit=crop&w=1950&q=80");
    }
    label[for=bodyworktab4] {
        background-image: url("https://images.unsplash.com/photo-1439920120577-eb3a83c16dd7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c1876b3bf3be64ecc13edf21add4ca86&auto=format&fit=crop&w=967&q=80");
    }
    label[for=bodyworktab5] {
        background-image: url("https://images.unsplash.com/photo-1515377905703-c4788e51af15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5f384fa6a6caa83e0ffdcef585e20c99&auto=format&fit=crop&w=1950&q=80");
    }
    label[for=bodyworktab6] {
        background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/LZTEF586LD.jpg");
    }
    label[for=bodyworktab7] {
        background-image: url("https://images.unsplash.com/photo-1434682881908-b43d0467b798?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c0f0cd91532284db50c1009ae3d10cf&auto=format&fit=crop&w=1953&q=80");
    }
    label[for=bodyworktab1] h1 {
        top: 5%;
        left: 12%;
    }
    label[for=bodyworktab2] h1 {
        top: 79%;
        left: 25%;
    }
    label[for=bodyworktab3] h1 {
        top: 37%;
        left: 12%;
    }
    label[for=bodyworktab4] h1 {
        top: 84%;
        left: 9%;
    }
    label[for=bodyworktab5] h1 {
        top: 24%;
        left: 20%;
    }
    label[for=bodyworktab6] h1 {
        top: 7%;
        left: 15%;
    }
    label[for=bodyworktab7] h1 {
        top: 23%;
        left: 4%;
    }
    .content {
        display: block;
        max-height: 0px;
        width: 100%;
        margin-top: -12px;
        transition: max-height 1s ease-out;
        transition-delay: -.45s;
        background-color: rgba(170, 170, 170, 0.65);
        border-radius: 0 0 50px 50px;
        overflow: hidden;
    
        div {
            height: auto;
            padding: 20px 0;
        }
    }
    input[type=checkbox]:checked+label {
        border-radius: 50px 50px 0 0;
        transition: border-radius .2s;
    }
    input[type=checkbox]:checked+label>.overlay {
        border-radius: 50px 50px 0 0;
        transition: border-radius .2s;
    }
    input[type=checkbox]:checked+label+.content {
        max-height: 1000px;
        transition: max-height 1s ease-in;
    }
}