@mixin breakpoints() {
    /***********************mobile-large*********************/
    @media only screen and (min-width: 480px) {
        .title {
            font-size: 4rem;
        }
        .hero-title {
            font-size: 5rem;
        }
        .hero-subtitle {
            font-size: 2rem;
        }
        .title-container hr {
            width: 246px;
        }
        .header-button {
            font-size: 2.1rem;
        }
        .the-content p {
            font-size: 1.5rem;
        }
        .strong-content {
            font-size: 1.9rem;
        }
        .side-title {
            font-size: 1.8rem;
        }
        .footer-nav-container a {
            font-size: 1.6rem;
        }
        .pg-about .title {
            right: 7%;
        }
        .pg-classes .title {
            font-size: 3.7rem;
        }
        .pg-booknow .title {
            right: 15%;
        }
    }
    @media only screen and (min-width: 768px) {
        .title {
            font-size: 5rem;
        }
        .hero-title {
            font-size: 6rem;
        }
        .hero-subtitle {
            font-size: 2.3rem;
        }
        .title-container hr {
            width: 294px;
        }
        .nav-menu .menu li {
            font-size: 2.1rem;
        }
        .the-content p {
            margin: 3rem 0;
        }
        .strong-content {
            font-size: 2.1rem;
        }
        .side-title {
            font-size: 1.9rem;
        }
        .footer-nav-container {
            margin: 3rem 0;
        }
        .footer-nav-container a {
            font-size: 1.7rem;
        }
        .social-icon-container {
            margin: 3rem 0;
        }
        label h1 {
            font-size: 2.2rem;
        }
        .blog article .title {
            font-size: 4rem;
        }
        .pg-about .title {
            top: 42%;
            right: 16%;
        }
        .pg-bodywork .title {
            top: 30%;
            right: 16%;
        }
        .pg-classes .title {
            font-size: 4.7rem;
            right: 4%;
        }
        .pg-booknow .title {
            top: 38%;
            right: 27%;
        }
    }
    @media only screen and (min-width: 1079px) {
        .title {
            font-size: 7rem;
        }
        .hero-title {
            font-size: 9rem;
        }
        .hero-subtitle {
            font-size: 3.3rem;
        }
        .title-container hr {
            border-top: 2px solid;
            width: 429px;
        }
        .header-button {
            font-size: 2.6rem;
        }
        .the-content p {
            font-size: 1.8rem;
        }
        .strong-content {
            font-size: 2.4rem;
        }
        .side-title {
            font-size: 2.3rem;
        }
        .footer-nav-container a {
            font-size: 1.9rem;
        }
        label h1 {
            font-size: 3.2rem;
        }
        #scroll1 {
            font-size: 5.5rem;
        }
        .blog article .title {
            font-size: 5rem;
        }
        .pg-classes .title {
            font-size: 6rem;
        }
        .pg-booknow .title {
            top: 35%;
            right: 30%;
        }
    }
    @media only screen and (min-width: 1440px) {
        .title {
            font-size: 8rem;
        }
        label[for=classtab4] h1 {
            top: 49%;
            left: 70%;
        }
        .hero-title {
            font-size: 10rem;
        }
        .hero-subtitle {
            font-size: 3.8rem;
        }
        .social-icon-container h1 {
            font-size: 1.5rem;
        }
        .blog article .title {
            font-size: 6rem;
        }
        .title-container hr {
            width: 472px;
        }
    }
}