@mixin footer-formatting() {
    /********************footer-formatting*****************/
    .social-icon-container {
        width: 100%;
        text-align: center;
        margin: 2rem 0;
    
        h1 {
            margin-top: 2rem;
            font-size: 1rem;
        }
    }
    .side-title {
        font-size: 1.5rem;
        margin-bottom: .3rem;
    }
    .footer-nav-container {
        width: 100%;
        font-family: 'EB Garamond', serif;
        text-align: center;
        margin: 2rem 0;
    
        a {
            font-size: 1.3rem;
            line-height: 1.6;
            color: black;
        }
    }
    .signature-container {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    
        p {
            text-align: center;
            font-size: 1rem;
        }
    }
}