@mixin headers() {
    /**********************headers***********************/
    .hero-static {
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    .hero-info-container {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    .title {
        position: absolute;
        font-size: 3rem;
        font-family: 'EB Garamond', serif;
    }
    .menu-open-button {
        position: absolute;
        top: 2%;
        left: 3.5%;
    }
    .menu-close-button {
        position: absolute;
        top: 2%;
        right: 3.5%;
    }
    .call-to-action {
        position: absolute;
        top: 2%;
        right: 3.5%;
    }
    .header-button {
        color: white;
        font-size: 1.5rem;
        padding: .3rem 1rem;
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
        background-color: #FF5722;
        border-style: solid;
        border-color: #FF5722;
        border-width: 1px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 30px;
        -khtml-border-radius: 10px;
    }
    #scroll1 {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        font-size: 4rem;
        color: #FF5722;
    }
    .nav-menu {
        position: absolute;
        top: 0;
        right: 100vw;
        min-height: 100vh;
        width: 100vw;
        background-color: rgba(163, 163, 163, 0.89);
        
        .menu {
            text-align: center;
            margin-top: 20vh;
        }
        .menu li {
            line-height: 2.5;
            font-size: 2rem;
        }
    }

    /********************events/blog**************/
    .blog { 
        .hero-static {
            background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/V9CXAKJ0AB.jpg");
        }
        .title {
            color: #424b39;
            font-size: 4rem;
            top: 31%;
            right: 48%;
        }
        article {
            margin: 1rem 0;
            text-align: center;
            background-color: #424b39;
        }
        article .title {
            position: static;
            font-size: 3rem;
            line-height: 1;
            padding: 1.3rem .5rem;
        }
        .post-meta {
            font-size: 1rem;
        }
        .the-content p {
            background-color: white;
            margin: 1.5rem 9vw;
            padding: 1.5rem 5vw;
        }
        article .meta {
            padding-bottom: 2rem;
        }
    }
    /********************about********************/
    .pg-about { 
        .hero-static {
            background-image: url("https://images.unsplash.com/photo-1489659639091-8b687bc4386e?auto=format&fit=crop&w=1052&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
        }
        .title {
            top: 41%;
            right: 5%;
            color: white;
        }
    }
    /*******************bodywork*****************/
    .pg-bodywork { 
        .hero-static {
            background-image: url("https://images.pexels.com/photos/268092/pexels-photo-268092.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
            background-position-x: 38%;
        }
        .title {
            top: 31%;
            right: 4%;
            color: white;
        }
    }
    /*******************classes******************/
    .pg-classes { 
        .hero-static {
            background-image: url("https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1466660427000/photosp/952cd8ff-361b-4206-9244-3160a1cae936/stock-photo-photography-relaxation-mother-yoga-peaceful-happy-fitness-yoga-mat-yoga-pants-952cd8ff-361b-4206-9244-3160a1cae936.jpg");
            background-position-x: 74%;
        }
        .title {
            top: 63%;
            right: 2%;
            font-size: 3rem;
            color: #6c285d;
        }
    }
    /*******************book now******************/
    .pg-booknow { 
        .hero-static {
            background-image: url("https://images.unsplash.com/photo-1503513270701-67f56ac2e4f6?auto=format&fit=crop&w=1955&q=80");
        }
        .title {
            top: 40%;
            right: 10%;
            color: white;
        }
    }
}