@mixin header-home() {
    /*********************header-home********************/
    .hero-container {
        position: relative;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    .hero-animated {
        background-image: url("https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        animation: dwd-zoomin 17s forwards;
    }
    .hero-title {
        text-align: center;
        font-family: 'EB Garamond', serif;
        font-size: 3.7rem;
        color: white;
    }
    .hero-subtitle {
        text-align: center;
        font-family: 'EB Garamond', serif;
        font-size: 1.7rem;
        margin-top: .1rem;
        color: white;
    }
    .hero-cutout {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .title-container {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translate(0%, -60%);
    
        hr {
            border: 0;
            border-top: 1px solid;
            color: white;
            width: 200px;
        }
    }

    @keyframes dwd-zoomin {
        0% {
            -ms-transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
            -webkit-transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
            -o-transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
            -moz-transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
            transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
            animation-timing-function: linear;
        }
        100% {
            -ms-transform: scale3d(1.5, 1.5, 1.5) translate3d(-0px, 0px, 0px);
            -webkit-transform: scale3d(1.5, 1.5, 1.5) translate3d(0px, 0px, 0px);
            -o-transform: scale3d(1.5, 1.5, 1.5) translate3d(0px, 0px, 0px);
            -moz-transform: scale3d(1.5, 1.5, 1.5) translate3d(0px, 0px, 0px);
            transform: scale3d(1.5, 1.5, 1.5) translate3d(0px, 0px, 0px);
        }
    }
}