@import url("https://fonts.googleapis.com/css?family=Karla|Quicksand");
@import url("styles/boots-bones.css");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
/*
Theme Name: Wild Roots
Author: Elliott Leback
Description: Theme for Wild Roots.
Version: 1.0
License: GNU General Public License
*/
/* sass --watch scss:../wildroots */
/***********************reset**********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blheaderockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 62.5%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Scaffolding*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Quicksand", Helvetica, sans-serif; }

a, a:active, a:focus, button, button:focus, button:active {
  outline: none;
  outline: 0;
  border: none;
  border: 0; }

input::-moz-focus-inner {
  border: 0; }

a:link {
  text-decoration: none;
  color: white; }

a:visited {
  text-decoration: none;
  color: white; }

a:hover {
  text-decoration: none;
  color: white; }

a:active {
  text-decoration: none;
  color: white; }

hr {
  height: 1px;
  width: 50px; }

iframe {
	width: 100%;
	height: 600px;
	height: 90vh;
}

/*********************header-home********************/
.hero-container {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

.hero-animated {
  background-image: url("https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  animation: dwd-zoomin 17s forwards; }

.hero-title {
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 3.7rem;
  color: white; }

.hero-subtitle {
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 1.7rem;
  margin-top: .1rem;
  color: white;	
}

.hero-cutout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

.title-container {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0%, -60%);
}

.title-container hr {
	border: 0;
	border-top: 1px solid;
	color: white;
	width: 200px;
}

@keyframes dwd-zoomin {
  0% {
    -ms-transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
    -webkit-transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
    -o-transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
    -moz-transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
    transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
    animation-timing-function: linear; }
  100% {
    -ms-transform: scale3d(1.5, 1.5, 1.5) translate3d(0px, 0px, 0px);
    -webkit-transform: scale3d(1.5, 1.5, 1.5) translate3d(0px, 0px, 0px);
    -o-transform: scale3d(1.5, 1.5, 1.5) translate3d(0px, 0px, 0px);
    -moz-transform: scale3d(1.5, 1.5, 1.5) translate3d(0px, 0px, 0px);
    transform: scale3d(1.5, 1.5, 1.5) translate3d(0px, 0px, 0px); } }
/**********************headers***********************/
.hero-static {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden; }

.hero-info-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

.title {
  position: absolute;
  font-size: 3rem;
  font-family: 'EB Garamond', serif; }

.menu-open-button {
  position: absolute;
  top: 2%;
  left: 3.5%; }

.menu-close-button {
  position: absolute;
  top: 2%;
  right: 3.5%; }

.call-to-action {
  position: absolute;
  top: 2%;
  right: 3.5%; }

.header-button {
  color: white;
  font-size: 1.5rem;
  padding: .3rem 1rem;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  background-color: #FF5722;
  border-style: solid;
  border-color: #FF5722;
  border-width: 1px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 30px;
  -khtml-border-radius: 10px; }

#scroll1 {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  font-size: 4rem;
  color: #FF5722; }

.nav-menu {
  position: absolute;
  top: 0;
  right: 100vw;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(163, 163, 163, 0.89); }

.nav-menu .menu {
  text-align: center;
  margin-top: 20vh; }

.nav-menu .menu li {
  line-height: 2.5;
  font-size: 2rem; }

/********************events/blog**************/
.blog .hero-static {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/V9CXAKJ0AB.jpg");
}

.blog .title {
  color: #424b39;
  font-size: 4rem;
  top: 31%;
  right: 48%;
}

.blog article {
	margin: 1rem 0;
	text-align: center;
	background-color: #424b39; 
}

.blog article .title {
	position: static;
	font-size: 3rem;
	line-height: 1;
	padding: 1.3rem .5rem;
}

.blog .post-meta {
	font-size: 1rem;
}

.blog .the-content p{
	background-color: white;
	margin: 1.5rem 9vw;
	padding: 1.5rem 5vw;
}

.blog article .meta {
	padding-bottom: 2rem;
}


/********************about********************/
.page-id-7 .hero-static {
  background-image: url("https://images.unsplash.com/photo-1489659639091-8b687bc4386e?auto=format&fit=crop&w=1052&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"); }

.page-id-7 .title {
  top: 41%;
  right: 5%;
  color: white; }

/*******************bodywork*****************/
.page-id-10 .hero-static {
  background-image: url("https://images.pexels.com/photos/268092/pexels-photo-268092.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-position-x: 38%; }

.page-id-10 .title {
  top: 31%;
  right: 4%;
  color: white; }

/*******************classes******************/
.page-id-13 .hero-static {
  background-image: url("https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1466660427000/photosp/952cd8ff-361b-4206-9244-3160a1cae936/stock-photo-photography-relaxation-mother-yoga-peaceful-happy-fitness-yoga-mat-yoga-pants-952cd8ff-361b-4206-9244-3160a1cae936.jpg");
  background-position-x: 74%; }

.page-id-13 .title {
  top: 63%;
  right: 2%;
  font-size: 3rem;
  color: #6c285d; }

/*******************book now******************/
.page-id-16 .hero-static {
  background-image: url("https://images.unsplash.com/photo-1503513270701-67f56ac2e4f6?auto=format&fit=crop&w=1955&q=80"); }

.page-id-16 .title {
  top: 40%;
  right: 10%;
  color: white; }

/************************article-formatting*******************/
.the-content, .the-content p {
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem .5rem;
  line-height: 1.8; }

.strong-content {
  font-size: 1.6rem;
  font-weight: bolder;
  line-height: 1.3;
  font-family: 'EB Garamond', serif; }

.iframe-container {
	width: 100%;
	height: auto;
	margin: 2rem 0;
	-webkit-overflow-scrolling: touch;
	overflow: auto;
}

.accordion {
  width: 100%;
  margin: 0 auto;
  padding: 0; }

input[type=checkbox] {
  display: none;
}

label {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 38vh;
  background: rgb(170, 170, 170);
  border-radius: 50px;
  margin-top: 10vh;
  transition: border-radius 2s;
  color: white;
  background-size: cover;
  background-position: center; 
}

label h1 {
  position: absolute;
  font-size: 1.1rem;
}

.booking-button {
	display: block;
	margin-top: 2rem;
	text-align: center;
}

/***************************Classes Page Formatting*************************/
label[for=classtab1] {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/ELDAE2CI2G.jpg"); 
}

label[for=classtab2] {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/40N6XLERBU.jpg");
}

label[for=classtab3] {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/QRPVBIQR04.jpg");
}

label[for=classtab4] {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/UY7MJEK8M8.jpg");
}

label[for=classtab1] h1 {
  top: 29%;
  left: 75%;
}

label[for=classtab2] h1 {
  top: 17%;
  left: 12%;
}

label[for=classtab3] h1 {
  top: 43%;
  left: 5%;
}

label[for=classtab4] h1 {
  top: 29%;
  left: 51%;
}

/***************************Bodywork Page Formatting*************************/
label[for=bodyworktab1] {
  background-image: url("https://images.pexels.com/photos/259810/pexels-photo-259810.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb"); 
}

label[for=bodyworktab2] {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/H5JNDHFS51.jpg");
}

label[for=bodyworktab3] {
  background-image: url("https://images.unsplash.com/photo-1519824145371-296894a0daa9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8d6d77a200077530beff1d2b4f600be7&auto=format&fit=crop&w=1950&q=80");
}

label[for=bodyworktab4] {
  background-image: url("https://images.unsplash.com/photo-1439920120577-eb3a83c16dd7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c1876b3bf3be64ecc13edf21add4ca86&auto=format&fit=crop&w=967&q=80");
}

label[for=bodyworktab5] {
  background-image: url("https://images.unsplash.com/photo-1515377905703-c4788e51af15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5f384fa6a6caa83e0ffdcef585e20c99&auto=format&fit=crop&w=1950&q=80");
}

label[for=bodyworktab6] {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/LZTEF586LD.jpg");
}

label[for=bodyworktab7] {
  background-image: url("https://images.unsplash.com/photo-1434682881908-b43d0467b798?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c0f0cd91532284db50c1009ae3d10cf&auto=format&fit=crop&w=1953&q=80");
}

label[for=bodyworktab1] h1 {
  top: 5%;
  left: 12%;
}

label[for=bodyworktab2] h1 {
  top: 79%;
  left: 25%;
}

label[for=bodyworktab3] h1 {
  top: 37%;
  left: 12%;
}

label[for=bodyworktab4] h1 {
  top: 84%;
  left: 9%;
}

label[for=bodyworktab5] h1 {
  top: 24%;
  left: 20%;
}

label[for=bodyworktab6] h1 {
  top: 7%;
  left: 15%;
}

label[for=bodyworktab7] h1 {
  top: 23%;
  left: 4%;
}

.content {
  display: block;
  max-height: 0px;
  width: 100%;
  margin-top: -12px;
  transition: max-height 1s ease-out;
  transition-delay: -.45s;
  background-color: rgba(170, 170, 170, 0.65);
  border-radius: 0 0 50px 50px;
  overflow: hidden;
}

.content div {
  height: auto;
  padding: 20px 0;
}

input[type=checkbox]:checked + label {
  border-radius: 50px 50px 0 0;
  transition: border-radius .2s;
}

input[type=checkbox]:checked + label > .overlay {
  border-radius: 50px 50px 0 0;
  transition: border-radius .2s;
}

input[type=checkbox]:checked + label + .content {
  max-height: 1000px;
  transition: max-height 1s ease-in;
}

/********************footer-formatting*****************/
.social-icon-container {
  width: 100%;
  text-align: center;
  margin: 2rem 0; }

.social-icon-container h1 {
  margin-top: 2rem;
  font-size: 1rem; }

.side-title {
  font-size: 1.5rem;
  margin-bottom: .3rem; }

.footer-nav-container {
  width: 100%;
  font-family: 'EB Garamond', serif;
  text-align: center;
  margin: 2rem 0; }

.footer-nav-container a {
  font-size: 1.3rem;
  line-height: 1.6;
  color: black; }

.signature-container {
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
}

.signature-container p {
	text-align: center;
	font-size: 1rem;
}

/**********************clear-float*******************/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/***********************mobile-large*********************/
@media only screen and (min-width: 480px) {
  .title {
    font-size: 4rem; }

  .hero-title {
    font-size: 5rem; }
	
  .hero-subtitle {
	font-size: 2rem; }

  .title-container hr {
	width: 246px; }
	
  .header-button {
    font-size: 2.1rem; }

  .the-content p {
    font-size: 1.5rem; }

  .strong-content {
    font-size: 1.9rem; }

  .side-title {
    font-size: 1.8rem; }

  .footer-nav-container a {
    font-size: 1.6rem; }

  .page-id-7 .title {
    right: 7%; }

  .page-id-13 .title {
    font-size: 3.7rem; }
	
  .page-id-16 .title {
    right: 15%; } }
@media only screen and (min-width: 768px) {
  .title {
    font-size: 5rem; }

  .hero-title {
    font-size: 6rem; }

  .hero-subtitle {
	font-size: 2.3rem; }
	
  .title-container hr {
	width: 294px; }
	
  .nav-menu .menu li {
    font-size: 2.1rem; }

  .the-content p {
    margin: 3rem 0; }

  .strong-content {
    font-size: 2.1rem; }

  .side-title {
    font-size: 1.9rem; }

  .footer-nav-container {
    margin: 3rem 0; }

  .footer-nav-container a {
    font-size: 1.7rem; }

  .social-icon-container {
    margin: 3rem 0; }
	
  label h1 {
	font-size: 2.2rem; }

  .blog article .title {
	font-size: 4rem; }
	
  .page-id-7 .title {
    top: 42%;
    right: 16%; }

  .page-id-10 .title {
    top: 30%;
    right: 16%; }

  .page-id-13 .title {
    font-size: 4.7rem;
    right: 4%; }

  .page-id-16 .title {
    top: 38%;
    right: 27%; } }
@media only screen and (min-width: 1079px) {
  .title {
    font-size: 7rem; }

  .hero-title {
    font-size: 9rem; }

  .hero-subtitle {
	font-size: 3.3rem; }
	
  .title-container hr {
	border-top: 2px solid;
	width: 429px; }
	
  .header-button {
    font-size: 2.6rem; }

  .the-content p {
    font-size: 1.8rem; }

  .strong-content {
    font-size: 2.4rem; }

  .side-title {
    font-size: 2.3rem; }

  .footer-nav-container a {
    font-size: 1.9rem; }

  label h1 {
	font-size: 3.2rem; }
	
  #scroll1 {
    font-size: 5.5rem; }

  .blog article .title {
	font-size: 5rem; }
	
  .page-id-13 .title {
    font-size: 6rem; }

  .page-id-16 .title {
    top: 35%;
    right: 30%; } }
@media only screen and (min-width: 1440px) {
  .title {
    font-size: 8rem; }

	label[for=classtab4] h1 {
	top: 49%;
	left: 70%; }

  .hero-title {
    font-size: 10rem; } 

  .hero-subtitle {
	font-size: 3.8rem; }

  .social-icon-container h1 {
    font-size: 1.5rem; }

  .blog article .title {
	font-size: 6rem; }
	
  .title-container hr {
	width: 472px; } }

/*# sourceMappingURL=style.css.map */
